h1{
    color: rgb(33, 33, 255);
    font-size: 40px;
    position: relative;
    text-align: center;
}

p{
    color: rgb(186, 5, 5);
    font-size: 20px;
    position: relative;
    text-align: center;
}

body{
    background: linear-gradient(to right, #08d5a2ee, #00000000);
    font-family: Arial, sans-serif;
}